[data]
    email = "{{ chezmoi_email }}"
    name = "{{ chezmoi_name }}"
    github_username = "{{ chezmoi_github_username }}"
    work_email = "" # Optional, can be set later

[git]
    autoCommit = false
    autoPush = false
