---
- name: Configure WezTerm font
  ansible.builtin.lineinfile:
    path: "{{ dotfiles_root }}/home/.wezterm.lua"
    regexp: '^config\.font = wezterm\.font\(".*"\)'
    line: 'config.font = wezterm.font("JetBrainsMono Nerd Font")'
    insertafter: '^config\.font_size = .*'
    backup: true

- name: Ensure VSCode settings directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/Library/Application Support/Code/User"
    state: directory
    mode: '0755'

- name: Configure VSCode font
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/Library/Application Support/Code/User/settings.json"
    regexp: |
      ^\s*"editor.fontFamily":.*
    line: |
      "editor.fontFamily": "JetBrainsMono Nerd Font",
    insertafter: '^\s*"editor.fontSize":.*'
    create: true
    backup: true

- name: Ensure Cursor settings directory exists
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/Library/Application Support/Cursor/User"
    state: directory
    mode: '0755'

- name: Configure Cursor font
  ansible.builtin.lineinfile:
    path: "{{ ansible_env.HOME }}/Library/Application Support/Cursor/User/settings.json"
    regexp: |
      ^\s*"editor.fontFamily":.*
    line: |
      "editor.fontFamily": "JetBrainsMono Nerd Font",
    insertafter: '^\s*"editor.fontSize":.*'
    create: true
    backup: true
