---
- name: Check if logi-options+ is already installed in Applications
  ansible.builtin.stat:
    path: /Applications/LogiOptionsPlus.app
  register: logi_app_check

- name: Get logi-options+ installed versions
  ansible.builtin.command:
    cmd: ls /opt/homebrew/Caskroom/logi-options+/
  when: not logi_app_check.stat.exists # Only if not already installed
  register: logi_versions_output
  changed_when: false
  ignore_errors: true

- name: Set logi-versions fact when directory exists
  ansible.builtin.set_fact:
    logi_versions: "{{ logi_versions_output.stdout_lines }}"
  when: 
    - logi_versions_output is defined
    - logi_versions_output.rc is defined
    - logi_versions_output.rc == 0
    - logi_versions_output.stdout_lines is defined

- name: Run logi-options+ installer programmatically
  ansible.builtin.shell: |
    /opt/homebrew/Caskroom/logi-options+/{{ item }}/logioptionsplus_installer.app/Contents/MacOS/logioptionsplus_installer --silent --accept-license
  when: 
    - not logi_app_check.stat.exists # Only if not already installed
    - logi_versions is defined
    - logi_versions | length > 0
  loop: "{{ logi_versions }}"
  ignore_errors: true
  async: 300
  poll: 0

- name: Wait for installer to complete
  ansible.builtin.pause:
    seconds: 30
  when: 
    - not logi_app_check.stat.exists # Only if not already installed
    - logi_versions is defined
